# dev
vendor/
composer.lock
*.lock
*-lock.json
*.env
*.bak
*.cache
.php_cs

# editors
.vscode/*
nbprojects
.project

# logs / db
*.log

# codeception
/tests/_output/*

# Mac OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db