language: php

php:
    - 7.2

env:
  global:
    - PHALCON_VERSION="v3.4.5"

git:
  depth: 1

matrix:
  fast_finish: true

cache:
  timeout: 604800
  directories:
    - $HOME/.composer/cache

install:
  - git clone -q --depth=1 https://github.com/phalcon/cphalcon.git -b ${PHALCON_VERSION}
  - '(cd cphalcon/build; bash install &>/dev/null && phpenv config-add ../tests/_ci/phalcon.ini &> /dev/null && cd ../..;)'
  - travis_retry composer update --no-interaction --no-progress --no-ansi --no-suggest

script:
  - vendor/bin/codecept run --coverage --coverage-xml

jobs:
  include:
    - stage: Test coverage
      if: branch = master AND type = push
      php: 7.2
      script:
        - make coverage
      after_script:
        - composer global require php-coveralls/php-coveralls ^2.2
        - ~/.composer/vendor/bin/php-coveralls --verbose --config tests/.coveralls.yml

notifications:
  email:
    - dominic@headcrumbs.io
